
<div class="content">
  <div class="content-box">
    <%=form_with url: '/expenses/search_expense', local: true, method: 'get' do |f| %>
      <%= f.collection_select :year_id, Year.all, :id, :name, {include_blank: "---"}, class: "input-form" %>
      <%= f.collection_select :month_id, Month.all, :id, :name, {include_blank: "---"}, class: "input-form" %>
      <%= f.submit "月別検索", class: "submit-btn" %>
    <% end %>
    <div class="income-logo">
      <%= link_to '収入登録', "/incomes/new" ,class:"income-logo"%>
    </div>
    <div class="expense-logo">
      <%= link_to '支出登録', "/expenses/new" ,class:"expense-logo"%>
    </div>
    
  </div>
  <%# <%= Expense.current_user.sum(:money) %> 
  <div class="total">
    <%= @ppp %>
    <%= @month_incomes.sum(:money).round %>円です。
  </div>
  
  <div class="total">
    <%= @qqq %>
    <%= @month_expenses.sum(:money) %>円です。
  </div>
  
  <div class="pie-search">
    <%= pie_chart @chart %>
  </div>

  <div class="lll">
    <%= link_to 'トップページへ戻る', "/expenses" %>
  </div>

</div>


